body {
  background-color: #34495e;
  color: #fff;
}

.figure-container {
  fill: transparent; /* keeps the head from being filled in */
  stroke: #fff;
  stroke-width: 4px;
  stroke-linecap: round;
}
